h1{
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: #50E3C2;
}

body{
  font-family: 'Lato', sans-serif;
  color: #282828;
}

.navbar-brand {
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  font-size: 48px;
}

.navbar .white{
  color: white!important;
}

.heading-right{
  text-align: right;
}

.top-space{
  margin-top: 120px;
}

.top-space-small{
  margin-top:15px;
}

.top-space-large{
  margin-top: 240px;
}

.shift-left{
  float: left;
}

.book-small{
  height: 250px;
}

.book-large{
  height: 400px;
}

.btn-primary{
  background-color: #50E3C2 !important;
  border: none !important;
}

.btn-primary:hover {
  background-color: #249FAF !important;
}

#header{
  background-image: url('./img/books.jpg');
  opacity: 40%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding-bottom: 300px;
}

#header p {
  background: rgb(40,40,40);
  padding-top: 10px;
  padding-bottom: 10px;
  opacity: 0.85;
  border-radius: 11px;
  color: white;
}
